
body{
    /* background-image: url("https://dl.glitter-graphics.com/pub/132/132031jviedtv86c.jpg");
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background-color:rgb(225, 245, 255)
}
.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    
}
.container {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-bottom: 0px;
    padding: 0px;
    
}

/* ! container for row elements */
.container2 {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
/* ! boxes for elements  */
#box1 {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
border-width: 10px;
          border-style: solid;
          border-image: url("https://file.garden/ZZ2PUl9MPilKgIvB/collection/borders/fp9ci4.png") 8 fill round;
      
border-style: dashed; 
flex-wrap: wrap;
padding: 20px;
margin-right: 10px;
}

#container3 {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;

}

#box2 {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
       margin-left: 25%;
    margin-right: 25%;
}

@font-face {
    font-family: 'Strawberry-Muffins';
    src: url("https://478.neocities.org/catalog/fonts.css");
}
#caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

.heading1 {
  
    margin: 20px;
}

.dropshadow{
    filter: drop-shadow(2px 2px 0 rgb(255, 255, 255)) 
  drop-shadow(-2px 1px 0 rgb(255, 255, 255)) 
  drop-shadow(0 2px 0 rgb(255, 255, 255)) 
  drop-shadow(0 2px 0 rgb(255, 255, 255)) 
  drop-shadow(0 1px 2.5px rgb(255, 255, 255)) 
  drop-shadow(0 -1px 1.5px rgb(255, 255, 255)) 
  drop-shadow(1px -1px 1.5px rgb(255, 255, 255)) 
    drop-shadow(-1px -1px 1.5px rgb(255, 255, 255) );    
    mask-image: url(https://i.ibb.co/JjDXBPr/ED5929-CE-1-D66-4-EC4-8-F8-A-14792-D8-F2384.png);
    mask-size: 300px 500px;
}

#text {
   background-image: url("https://media.giphy.com/media/70BItD093Mhnq/giphy.gif");
    -webkit-background-clip: text;
    background-clip: text; /* standard property for compatibility */
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback for non-webkit browsers */
}

.gluten-uniquifier {
  font-family: "Gluten", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* @keyframes tilt {
  from { transform: rotate(5deg); }
  to { transform: rotate(-5deg); }
} */


    
        