.container {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
     /* border: 2px solid black;
    position: relative;
    border-style: solid;
    border-width: 15px;
    padding: 5px; */
    /* border-image:url("https://files.catbox.moe/16vx4u.png") 9 fill round; */
}

.container2 {
display: flex;
flex-direction: row;
justify-content: center;

}
#box1 {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: end;
}


#text1 { 
    display: flex;
    flex: start;

}